<!DOCTYPE html>
<html>
<head>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<title>News</title>
</head>
<body>


<h1>News</h1>


<table>
	<thead>
	<tr>
		<th>id</th>
		<th>length</th>
		<th>place</th>
		<th>source</th>
		<th>title </th>
		<th>content_category</th>
		<th>universal_video_id</th>
		<th>live_status</th>
		<th>created_time</th>
		<th>description</th>
		<th>auto_generated_captions</th>
		<th>captions</th>
		<th>comments</th>
		<th>likes</th>
		<th>reactions</th>
		<th>sponsor_tags</th>
		<th>tags</th>
		<th>video_insights</th>
	</th>
	</thead>
	<tbody>
	
		{% for row in rows%}
		<tr>
			{% for datum in row%}
			<td>{{datum}}</td>
			{%endfor%}
		</tr>
		{%endfor%}
	
	</tbody>
</table>

</body>
</html>
